<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top position-fixed" id="mainNav">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active">Maespecial</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <ng-container *ngFor="let pageInfo of pagesInfo; index as i">
          <li ngbDropdown class="nav-item dropdown" *ngIf="pageInfo?.children?.length > 0; else emptyChild">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="{{'dropdown' + i}}" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">{{pageInfo.textName | translate}}</a>
            <div ngbDropdownMenu class="dropdown-menu" attr.aria-labelledby="{{'dropdown' + i}}">
              <a class="dropdown-item" *ngFor="let subpageInfo of pageInfo.children" [routerLink]="subpageInfo.routeName">{{subpageInfo.textName | translate}}</a>
            </div>
          </li>
          <ng-template #emptyChild>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="pageInfo.routeName">{{pageInfo.textName | translate}}</a>
            </li>
          </ng-template>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>