<div *ngIf="resourceData" class="container">
    <p>{{ resourceData.description | translate}}</p>
    <div class="row" *ngIf="resourceData.data.length > 0 else empty_content">
        <ng-container *ngFor="let res of resourceData.data; index as i">
            <div class="col-lg-3 resource-item">
                <div class="card h-100">
                <a><blog-poster-image [classValues]="'card-img-top'" [src]="res.image"></blog-poster-image></a>
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">
                        <a>{{ res.name | translate }}</a>
                    </h4>
                    <div class="mt-auto">
                        <a *ngIf="res.instagram" href="https://www.instagram.com/{{res.instagram}}" target="_blank">
                            <span class="fa-stack fa-sm">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <a *ngIf="res.web" [href]="res.web" target="_blank">
                            <span class="fa-stack fa-sm">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-globe fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </div>
                </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<ng-template #empty_content>
    <div class="col-lg-100 resource-item" style="text-align: center;">
        <div class="card h-100">
        <div class="card-body d-flex flex-column">
            <h4 class="card-title">
                <a>{{ 'resources.empty.title' | translate }}</a>
            </h4>
            <p class="card-text mt-auto">{{ 'resources.empty.description' | translate }}</p>
        </div>
        </div>
    </div>
</ng-template>
