.about {
    width: 100%;
    margin: 0px;
}

.description {
    text-align: justify;
}
.avatar{
    text-align: center;
    margin-bottom: 20px;
}

.avatar img{
    width: 100%;
    max-height: 160px;
    max-width: 160px;
}