<div class="about row">
    <div class="col-md-5 avatar">
        <img src="https://image.flaticon.com/icons/png/512/147/147144.png">
    </div>
    <div class="col-md-7 description"><b>Quantvm Fate</b> is a Solo Game Studio founded in 2021 and based in Spain.
        <b>Aitor Velez</b> is the generalist game developer behind Quantvm Fate. I come from a background in software
        development.
        My goal is to build competence in all technical / programming branches of videogame development.
        I love the impact that videogames are making in society and the importance that are taking in which refers to
        digital creation.
        While I intend to remain a solo developer, I am bringing in collaborators to make the work more fun and to
        complement my weaker areas.
        I usually take artistic part of my videogames from free & paid assets founded on the net, although I sometimes
        try to do them on my own.
    </div>
</div>