<!-- Page Header -->
<header *ngIf="needHeader; then header_content else margin_content"></header>
<ng-template #header_content>
  <header class="masthead" [ngStyle]="{background: 'url(' + bgUrl + ')'}">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1 class="animated-title" itemprop="headline">{{ title | translate}}</h1>
            <button type="button" class="btn btn-primary" >{{ btntitle | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </header>
</ng-template>
<ng-template #margin_content><header style="padding-bottom: 100px"></header></ng-template>