<!--The content below is only a placeholder and can be replaced.-->
<app-navbar *ngIf="router.url.indexOf('/admin') == -1"></app-navbar>
<app-header *ngIf="router.url.indexOf('/admin') == -1"></app-header>
<app-navbar-admin *ngIf="router.url.indexOf('/admin') > -1"></app-navbar-admin>

<div id="body" class="container" [style]="router.url.indexOf('/admin') > -1 ? 'margin-top: 80px;' : ''">
  <router-outlet></router-outlet>
</div>

<hr>

<app-footer *ngIf="router.url.indexOf('/admin') == -1"></app-footer>

<!--<cookie-law position="bottom" name="ng4topCookieLaw" expiration="7">
    {{ 'cookies.message' | translate }}
    <!--<a href="https://github.com/andreasonny83/angular2-cookie-law">
      Click here for more info
    </a>-->
  <!--</cookie-law>-->
