<footer class="footer-bs" *ngIf="hasEnter == true">
  <div class="row">
    <div class="col-md-3 footer-brand animated fadeInLeft">
      <img class="logo-footer" src="https://upload.wikimedia.org/wikipedia/commons/f/f4/BMW_logo_%28gray%29.svg">
      <h2>Quantvm Fate</h2>
      <p>©2021 Quantvm Fate, All rights reserved</p>
    </div>
    <div class="col-md-4 footer-nav animated fadeInDown">
      <h4>Content</h4>
      <div class="col-md-6">
        <ul class="pages">
          <li><a routerLink="/games">Games</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/news">News</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="pages">
          <li><a routerLink="/contact">Contact</a></li>
          <li><a routerLink="/terms-and-conditions">Terms & Condition</a></li>
          <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-2 footer-social animated fadeInDown">
      <h4>Follow Us</h4>
      <ul>
        <li><a [href]="discordLink" target="_blank"><i class="fab fa-discord"></i></a></li>
        <li><a [href]="twitterLink" target="_blank"><i class="fab fa-twitter"></i></a></li>
        <li><a [href]="instagramLink" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a [href]="youtubeLink" target="_blank"><i class="fab fa-youtube"></i></a></li>
      </ul>
    </div>
    <div class="col-md-3 footer-ns animated fadeInRight">
      <h4>Newsletter</h4>
      <p>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Sign up to our newsletter with email!" />
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Subscribe</button>
        </span>
      </div><!-- /input-group -->
      <!-- </p> -->
    </div>
  </div>
</footer>