.content {
    padding: 5% 15%;
    background-color: #f1f1f1;
    position: relative;
    height: auto;
    min-height: 77% !important;
}

.column-label {
    margin-right: 8px;
    font-size: 1rem;
}

.content > mat-card {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

mat-nav-list.list-horizontal {
    padding: 0;
    .mat-list-item {
        display: inline-block;
        height: auto;
        width: auto;
    }
}

.content mat-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card-header img {
    max-width: 15%;
    margin-top: 0;
    margin-bottom: 18px;
}

.mat-divider {
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px !important;
    width: 40% !important;
}

.mat-card-content {
    margin: 0px 10%;
}

@media (max-width: 600px) {
    .mat-card-content {
       // margin: 0px 0px;
    }
}
